VITE_FIREBASE_API_KEY=AIzaSyCx4n0Fj29i7rVVQx0SK0HfbJu2Cfy2lk0
VITE_FIREBASE_AUTH_DOMAIN=ale-burgers.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ale-burgers
VITE_FIREBASE_STORAGE_BUCKET=ale-burgers.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=643043021010
VITE_FIREBASE_APP_ID=1:643043021010:web:8fa2887e28be4253cd5d0b
